k_edges/*
!k_edges/126_core_edges.txt
!k_edges/100_core_edges.txt
LGLfiles/50_core_edges.lgl
coords/old_*
edges/edges*
out*
id_titles/50_core_titles.txt
id_titles/titles.txt
test*
extra/*
126color.txt
myplot.pdf