# Local files
test*
tmp/*
logs/*
stats/*
titles/*
visualisation/*

# Large files
edges/edges*
k_edges/*
!k_edges/126_core_edges.txt
!k_edges/100_core_edges.txt

id_titles/50_core_titles.txt
id_titles/titles.txt

# Extra files
extra/*
